.lottery{
    background-color:#e2b5b5ff;
    border-radius:10px;
    text-align:center;
    display:flex;
    justify-content:center;
    align-items:center;
    flex-direction:column;
    width:45vw;
    padding:2rem;
}
.buyBtn{
    padding: 0.5rem 1rem;
    font-size: 1.2rem;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
    background-color: rgb(122, 255, 244);
    margin: 1rem 0;
}