.titleSec{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
    justify-content: center;
    background-color: aqua;
    border-radius: 8px 8px 0 0;
    padding: 1rem;
    margin: 0;
    height: 100%;
    width: 81%;
}
.title{
    font-size: 1.5rem;
    font-weight: bold;
}
.description{
    font-size: 1rem;
    color: gray;
}